/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS Goes here */

body {
    background-color: #D5CFA8;
}

header {
    width: 80vw;
    background-color: red;
    color: whitesmoke;
    margin: 0 auto;
    height: 50px;
    font-size: 20px;
    padding: 1em 0em 0em 0em;
}



.nav-link li{
    display: inline;
    padding-right: 10px;
}

.first-ordered-list {
    list-style-type: decimal;
    list-style-position: inside;
    line-height: 30px;
    color: white;
}

main {
    width: 80vw;
    margin: 0 auto;
}

.second-unordered-list {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 30px;
    color: white;
}

.second-first-indent {
    list-style-type: decimal;
    margin: 0px 0px 0px 40px;
}

.third-first-indent {
    list-style-type: disc;
    margin: 0px 0px 0px 40px;
}

.third-urordered-list {
    /* list-style-type: none; */
    list-style-image: url("../images/circle-check-solid.svg");
    list-style-position: inside;
    line-height: 30px;
    color: white;
}

.col-list-3 {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;;
}

.list-item {
    width: 25vw;
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
}

.col-list-3 {
    margin: 50px 0px
}

h2 {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-left: 20px;
}

footer {
    height: 80px;
    background-color: black;
}

.footer-links {
    width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
    
}

.footer-links li {
    display: inline;
    color: white;
    padding-right: 25px;
    line-height: 20px;
}